nav{
    position:fixed;
    top:0%;
    left: 50.4px;
    width:100%;
    background-color: rgb(5, 134, 134);
    padding: 0px;
    z-index:4;
}

.ULnav{
    list-style:none;
    display: none;
    width:max-content;
    margin:1em auto;
    padding-left: 0px;
    z-index: 4;
}

.LInav{
    display:inline;
    border-radius: 2em;
    background-color: aqua;
    padding-left:1em; 
    padding-right:1em; 
    padding-top:0.3em; 
    padding-bottom:0.3em;
    z-index: 4;
}
.ULnavmini{
    list-style:none;
    display: block;
    width:max-content;
    margin:1em auto;
    padding-left: 0px;
    z-index: 4;
}

.LInavmini{
    display:inline;
    border-radius: 2em;
    background-color: aqua;
    padding-left:1em; 
    padding-right:1em; 
    padding-top:0.3em; 
    padding-bottom:0.3em;
    z-index: 4;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.tarjetas{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

body{
    margin:0;
    padding-bottom: 0px;
    z-index: 0;
    height: fit-content;
}

html{
    background-color: rgb(201, 250, 234);
}

.tipoArticulo{
    margin:0 auto;
    padding:1em;
    background: white;
    text-decoration: none;
    color:#444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-direction: column;
    height: 625px;
    width: 450px;
    transition:all .1s ease-in;
    border-radius: 1.5em;
}

h3{
    text-align: center;
}

.descripcion{
    text-align: center;
    height: 75px;
}

.ImgTarjeta{
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    border-top-left-radius: 1.5em ;
    border-top-right-radius: 1.5em;
}

.logo1{
    position:fixed;
    top:0%;
    height: 50.4px;
    width: auto;
    z-index: 3;
    background-color: rgb(5, 134, 134);
}

.logo2{
    position:relative;
    bottom:0%;
    left: 0%;
    height: 150px;
    width: auto;
    z-index: 3;
}


.secciones{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
    width:98%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.ImgTarjetamini{
    width: 100px;
    height: auto;
    margin: 0 auto;
    object-fit: scale-down;
    border-radius: 1.5em;
    background-color: rgb(146, 241, 209);
    display: flex;
    position: relative;
    top:10px;
    left:0px;
    padding-left: 0px;
    padding-right: 0px;
}

.tierTitle{
    display: flex;
    position: relative;
    width: 80px;
    top:5px;
    justify-content: center;
    padding: 0px;
    margin: 10px auto;
}

.tier{
    position: relative;
    bottom: 0.3em;
    left: 25px;
    display: flex;
    float: left;
    justify-content: center;
    width:400px;
    z-index:1;
}

.tier2{
    padding: 0px;
    width: 120px;
    height: 155px;
    margin: 5px;
    background-color: rgb(146, 241, 209);
    border-radius: 1.5em;
}
.tier2:hover{
    top: -15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

footer{
    position:relative;
    bottom: 0px;
    width: 100%;
    min-width: max-content;
    display: flex;
    background-color: rgb(5, 134, 134);
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
}


.LIfootmini{
    text-align: center;
    border-radius: 2em;
    padding: 0 auto;
    padding-top:0.3em; 
    padding-bottom:0.3em;
    z-index: 4;
    grid-area: "LI";
    
}

.LIfootmini a{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.LIfoot{
    grid-area: "LI";
}

.LIfoot a{
    display: flex;
    margin: 0 auto;
}

.CV{
    grid-area: 1 / 1 / span 1 / span 7;
}

.PG{
    grid-area:2 / 1 / span 3 / span 4;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.DEV{
    grid-area: 5 / 1 / span 1 / span 7;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.key{
    display: none;
}

#PCc{
    background-color: none;
}
#CM{
    background-color: none;
}
#CsM{
    background-color: none;
}
.par{
    display: block;
    padding: 1em auto;
    text-align: center;
}
.ULfoot{
    display: none;
}
.logofoot{
    border-radius: 1em;
}
.linkmini{
    height: 40px;
    width: auto;
    
}
.ULfootmini{
    list-style:none;
    display: grid;
    width:auto;
    margin: 1em auto;
    padding-left: 0px;
    gap: 0.5em;
    grid-template-areas: 
    "LI LI LI"
    ;
    grid-area: 2 / 6 / span 3 / span 2;
}

.CV{
    background-color:rgb(146, 241, 209) ;
    border-radius: 1em;
    padding: 0.5em;
}

.CV:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.LInavmini:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.LInav:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.LIfoot:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
.linkmini img:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.gridfoot{
    margin:1em auto;
}

@media only screen and (min-width: 1005px){
    .secciones{
        grid-template-columns: 1fr 1fr;
    }
    .gridfoot{
        width:max-content;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin:1em auto;
    }
    .ULnavmini{
        display: none;
    }
    .ULnav{
        display: block;
    }
    .ULfoot{
        list-style:none;
        display: grid;
        width:auto;
        margin: 1em auto;
        padding-left: 0px;
        gap: 0.5em;
        grid-template-areas: 
        "LI"
        "LI"
        "LI"
        ;
        grid-area: 2 / 6 / span 3 / span 2;
    }
    #PCc{
        background-color: rgb(243, 167, 26);
    }
    #CM{
        background-color: rgb(95, 94, 94);
    }
    #CsM{
        background-color: rgb(178, 31, 31);
    }
    .Ulfootmini{
        display: none;
    }
    .LIfoot{
        height: 50px;
        text-align: center;
        border-radius: 2em;
        background-color: aqua;
        padding-left:1em; 
        padding-right:1em; 
        padding-top:0.3em; 
        padding-bottom:0.3em;
        z-index: 4;
        grid-area: "LI";
    }

    .LIfoot:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }

    .key{
        grid-area: 2 / 5 / span 3 / span 1;
        height: 220px;
        width: auto;
        padding-top: 3.5px;
        display: block;
    }
    .par{
        display: block;
        padding-top: 88px;
        text-align: center;
    }
    .linkrecom{
        padding-top: 15px;
        text-align: center;
    }
    #CManchor{
        padding-left: 27.5px;
    }
    #CsManchor{
        padding-left: 27.5px;
    }
    #miniUL{
        display: none;
    }
}


